controller_list:
  - name: fake_engineer_arm_controller
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6
initial: # Define initial robot poses.
  - group: engineer_arm
    pose: home
