<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [engineer, engineer2]"/>
    <rosparam file="$(find engineer_middleware)/config/$(arg robot_type)_steps_list.yaml" command="load"
              ns="engineer_middleware"/>
    <rosparam file="$(find engineer_middleware)/config/$(arg robot_type).yaml" command="load"
              ns="engineer_middleware"/>
    <rosparam file="$(find engineer_middleware)/config/scenes_list.yaml" command="load"
              ns="engineer_middleware"/>
    <node name="engineer_middleware" pkg="engineer_middleware" type="engineer_middleware" respawn="false"
          clear_params="true"/>
</launch>
