<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [engineer, engineer2]"/>
    <include file="$(find rm_gazebo)/launch/empty_world.launch">
        <arg name="roller_type" value="none"/>
    </include>
    <include file="$(find $(arg robot_type)_arm_config)/launch/load_controllers.launch">
        <arg name="use_simulation" value="true"/>
    </include>
    <include file="$(find $(arg robot_type)_arm_config)/launch/load_move_group.launch"/>
    <include file="$(find engineer_middleware)/launch/load.launch"/>
    <!-- <include file="$(find rm_config)/launch/manual.launch"/> -->

</launch>
