<launch>
    <arg name="world" default="empty_world" doc="big_resource small_resource"/>
    <include file="$(find rm_gazebo)/launch/$(arg world).launch"/>
    <include file="$(find engineer_arm_config)/launch/load_controllers.launch">
        <arg name="use_simulation" value="true"/>
    </include>
    <include file="$(find engineer_middleware)/launch/load.launch"/>
    <include file="$(find engineer_arm_config)/launch/load_move_group.launch"/>
</launch>
