<?xml version="1.0"?>
<launch>
    <!-- By default, we are not load controllers -->
    <arg name="spawn_controllers" default="true"/>

    <rosparam file="$(find rm_config)/config/rm_controllers/engineer.yaml" command="load"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->

    <!-- Load the controllers -->
    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          args="load
                controllers/robot_state_controller
                controllers/joint_state_controller
                controllers/joint1_calibration_controller
                controllers/joint2_calibration_controller
                controllers/joint3_calibration_controller
                controllers/joint4_calibration_controller
                controllers/joint5_calibration_controller
                controllers/joint6_calibration_controller
                controllers/joint7_calibration_controller
                controllers/arm_trajectory_controller
                controllers/chassis_controller
                controllers/gpio_controller
                controllers/gimbal_controller
                controllers/ore_bin_rotate_controller
                controllers/ore_bin_lifter_controller
                controllers/ore_bin_lifter_calibration_controller
                controllers/gimbal_lifter_controller
                controllers/gimbal_lifter_calibration_controller
                controllers/arm_trajectory_controller
                "
    />

    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_tf_publisher"
          args="0 0 0 0 0 0 1 map odom"/>
</launch>
