<?xml version="1.0"?>
<launch>
    <!-- By default, we are not load controllers -->
    <arg name="spawn_controllers" default="true"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find engineer_arm_config)/config/ros_controllers.yaml" command="load"/>

    <!-- Load the controllers -->
    <node if="$(arg spawn_controllers)" name="controller_spawner" pkg="controller_manager" type="spawner"
          respawn="false" output="screen" args="
          controllers/robot_state_controller
          controllers/joint_state_controller
          controllers/arm_trajectory_controller"
    />

</launch>
